# udev rules for Fujitsu G60 to allow non-root operation
#
# 1) Copy this file to /etc/udev/rules.d/
# 2) Add the G60 user to group "dialout"
# 3) "chown -R USER /usr/local/G60U" to change file ownership
# 4) "chmod -R go-w /usr/local/G60U" to fix perms

# make the /dev/g60 CUSE device node owned by group "dialout", similar
# to /dev/ttyS0
KERNEL=="g60", GROUP="dialout", MODE="0660"

# also let "dialout" control the associated USB device
SUBSYSTEM=="usb", ATTR{idVendor}=="04c5", ATTR{idProduct}=="124a", MODE="0660", GROUP="dialout"
